/* header {
    background-image: url(./Image/banar-image.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 80vh;
} */

.select-player-name {
    height: 45vh;
    object-fit: cover;
}

.budget-sec {
    height: 50vh;
    object-fit: cover;
}